//- section.circle
//-   each cat in categories
//-     a(href="#", data-id="#{cat.id}", class="deg#{cat.deg}")
//-        img.categoryImage(src="#{cat.image}")
//-        = cat.name

ul
  each cat in categories
    li.category
      a(href="#", data-id="#{cat.id}")
        img.categoryImage(src="#{cat.image}")
        = cat.name